In [1]:
import quandl
from pathlib import Path
import progressbar
import pandas as pd

In [2]:
data_path = Path(".").absolute().parent.joinpath("data")

In [4]:
tickers = "AAPL,ADBE,ADI,ADP,ADSK,AEP,ALGN,ALXN,AMAT,AMD,AMGN,AMZN,ANSS,ASML,ATVI,AVGO,BIDU,BIIB,BKNG,CDNS,CDW,CERN,CHKP,CHTR,CMCSA,COST,CPRT,CSCO,CSX,CTAS,CTSH,DLTR,DOCU,DXCM,EA,EBAY,EXC,FAST,FB,FISV,FOX,FOXA,GILD,GOOG,GOOGL,IDXX,ILMN,INCY,INTC,INTU,ISRG,JD,KDP,KHC,KLAC,LRCX,LULU,MAR,MCHP,MDLZ,MELI,MNST,MRNA,MRVL,MSFT,MTCH,MU,MXIM,NFLX,NTES,NVDA,NXPI,OKTA,ORLY,PAYX,PCAR,PDD,PEP,PTON,PYPL,QCOM,REGN,ROST,SBUX,SGEN,SIRI,SNPS,SPLK,SWKS,TCOM,TEAM,TMUS,TSLA,TXN,VRSK,VRSN,VRTX,WBA,WDAY,XEL,XLNX,ZM".split(",")

In [2]:
quandl.ApiConfig.api_key = 'YqugyYVjbFGQHHdSsQJ8'

In [12]:
for ticker in progressbar.progressbar(tickers):
    eod = quandl.get(f'EOD/{ticker}')
    eod.to_csv(data_path.joinpath(f"{ticker}.csv"))

100% (102 of 102) |######################| Elapsed Time: 0:04:42 Time:  0:04:42

In [7]:
sharadar_files = list(data_path.joinpath("sharadar/full").glob("*.csv"))

In [21]:
sharadar_files[0].name.split(".")[0]

'daily'

In [9]:
sharadar_dfs = {
    f.name.split(".")[0]: pd.read_csv(f)
    for f in sharadar_files
}

In [4]:
save_path = data_path.joinpath("sharadar")

In [38]:
sharadar_dfs['actions'][sharadar_dfs['actions']['ticker'].isin(tickers)].to_csv(save_path.joinpath("actions.csv"))

In [42]:
sharadar_dfs['daily'][sharadar_dfs['daily']['ticker'].isin(tickers)].to_csv(save_path.joinpath("daily.csv"))

In [43]:
sharadar_dfs['sf1'][sharadar_dfs['sf1']['ticker'].isin(tickers)].to_csv(save_path.joinpath("sf1.csv"))

In [45]:
sharadar_dfs['tickers'][sharadar_dfs['tickers']['ticker'].isin(tickers)].to_csv(save_path.joinpath("tickers.csv"))

In [5]:
sf1 = pd.read_csv(save_path.joinpath("sf1.csv"))

In [6]:
sf1.head()

,Unnamed: 0,ticker,dimension,calendardate,datekey,reportperiod,lastupdated,accoci,assets,assetsavg,...,sharesbas,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital
0,3880,AAPL,ARQ,1997-09-30,1997-12-05,1997-09-26,2021-01-28,0.0,4.233000e+09,NaN,...,1.433526e+10,1.411894e+10,NaN,NaN,4.233000e+09,259000000.0,NaN,264000000.0,0.300,1.606000e+09
1,3881,AAPL,ARQ,1997-12-31,1998-02-09,1997-12-26,2021-01-28,0.0,4.126000e+09,NaN,...,1.487002e+10,1.433477e+10,1.566197e+10,0.110,4.126000e+09,233000000.0,0.0,261000000.0,0.288,1.704000e+09
2,3882,AAPL,ARQ,1998-03-31,1998-05-11,1998-03-27,2021-01-28,0.0,3.963000e+09,NaN,...,1.490054e+10,1.478053e+10,1.634248e+10,0.095,3.963000e+09,201000000.0,4000000.0,238000000.0,0.268,1.829000e+09
3,3883,AAPL,ARQ,1998-06-30,1998-08-10,1998-06-26,2021-01-28,0.0,4.041000e+09,NaN,...,1.507961e+10,1.490362e+10,1.924003e+10,0.094,4.041000e+09,192000000.0,8000000.0,213000000.0,0.271,1.986000e+09
4,3884,AAPL,ARQ,1998-09-30,1998-12-23,1998-09-25,2021-01-28,0.0,4.289000e+09,NaN,...,1.515582e+10,1.511810e+10,1.880670e+10,0.103,4.289000e+09,182000000.0,8000000.0,173000000.0,0.284,2.178000e+09

In [8]:
sharadar_files

[PosixPath('/home/rluo/raid/classes/gatech/cs7643/GATech-CS7643-Project-Group/data/sharadar/full/actions.csv'),
 PosixPath('/home/rluo/raid/classes/gatech/cs7643/GATech-CS7643-Project-Group/data/sharadar/full/indicators.csv'),
 PosixPath('/home/rluo/raid/classes/gatech/cs7643/GATech-CS7643-Project-Group/data/sharadar/full/tickers.csv'),
 PosixPath('/home/rluo/raid/classes/gatech/cs7643/GATech-CS7643-Project-Group/data/sharadar/full/sp500.csv'),
 PosixPath('/home/rluo/raid/classes/gatech/cs7643/GATech-CS7643-Project-Group/data/sharadar/full/daily.csv'),
 PosixPath('/home/rluo/raid/classes/gatech/cs7643/GATech-CS7643-Project-Group/data/sharadar/full/sf1.csv')]

In [12]:
sharadar_dfs['indicators'][sharadar_dfs['indicators']['indicator'] == "dimension"]['description'].values.squeeze()

array('[Entity] The dimension field allows you to take different dimensional views of data over time. ARQ: Quarterly; excluding restatements; MRQ: Quarterly; including restatements; ARY: annual; excluding restatements; MRY: annual; including restatements; ART: trailing-twelve-months; excluding restatements; MRT: trailing-twelve-months; including restatements.',
      dtype=object)